@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;   
}

.titulo-reel{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3%;
    color: rgb(38, 213, 213);
}

.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 35px;
    justify-items: center;
    padding: 5%;
}

.video-item iframe {
    width: 100%;
    max-width: 560px; 
    height: 536px;
}


@media (max-width: 900px) {
    .videos {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 600px) {
    .videos {
        grid-template-columns: 1fr; 
    }
}


